<% Resources.forEach(function(r){%>

## <a id="wiki-<%= r.name %>"></a> <%= r.name %>
<%= r.description && r.description || "" %>
Properties:
<table>
<thead>
<th>name</th>
<th>cardinality</th>
<th>description</th>
<th>value</th>
</thead>
<% r.properties.forEach(function(p){ %>
<tr>
<td><%=p.path%></td>
<td><%=p.cardinality%></td>
<td><%=p.description && p.description || ""%></td>
<td> 
<% if(p.resource){%>
  <a href="#wiki-<%= p.resource %>"><%= p.resource %></a>
<% } else { %>
  <%= p.primitive %>
<% };%>
</td>
</tr>
<% });%>
</table>

<% });%>

